.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #fff;
    border-bottom: 1px solid rgba(165, 193, 216, 0.393);
}

.navbar .logo img {
    width: 65px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}